@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-primary-color: #F5F5F5;
  --theme-secondary-color: #EBEBEB;
  --theme-tertiary-color: #000000;
  --theme-floating-menu: #919191;
  --theme-text-variant: #757575;
  --theme-card-radius: 4px;

}

.toggle-theme {
  --theme-primary-color: #15171C;
  --theme-secondary-color: #1B1D22;
  --theme-tertiary-color: #FFFFFF;
  --theme-floating-menu: #5e5e5e;
  --theme-text-variant: #A0A0A0;
  --theme-card-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-primary-color: #15171C;
    --theme-secondary-color: #1B1D22;
    --theme-tertiary-color: #FFFFFF;
    --theme-floating-menu: #5e5e5e;
    --theme-text-variant: #A0A0A0;
    --theme-card-radius: 4px;
  }

  .toggle-theme {
    --theme-primary-color: #F5F5F5;
    --theme-secondary-color: #EBEBEB;
    --theme-tertiary-color: #000000;
    --theme-floating-menu: #919191;
    --theme-text-variant: #757575;
    --theme-card-radius: 4px;
  }
}

body {
  background: var(--theme-secondary-color);
  color: var(--theme-tertiary-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
